<div class="alert alert<%=action=="create"?'-success':'' %> alert<%=action=="delete"?'-danger':''%> alert<%=action=="update"?'-primary':'' %> ">
  <p class="mb-3">
     <b><%=name%></b> is <b><%=action%>d</b>.
  </p>
</div>