<nav>

<% if (currentPage<2&&totalPages<2) { %>
    <!--nothing-->
<% } else if(currentPage<2&&totalPages>1) { %>

  <ul class="pagination justify-content-center">
    <% for( let page = 1; page <=totalPages; page++ ) { %>
    <li class="page-item">
      <a class="page-link <%=currentPage==page?"active":""%>"
         href="?page=<%=page%>"
        ><%=page%>
      </a>
    </li>

    <% } %>

    <li class="page-item">
      <a
        class="page-link"
        href="?page=<%=currentPage+1%>"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  
  <% } else if(currentPage==totalPages&&totalPages>1) { %>

    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a
          class="page-link"
          href="?page=<%=currentPage-1%>"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
  
      <% for( let page = 1; page <=totalPages; page++ ) { %>
      <li class="page-item">
        <a
          class="page-link <%=currentPage==page?"active":""%>"
          href="?page=<%=page%>"
          ><%=page%>
        </a>
      </li>
  
      <% } %>
    </ul>


    <% } else if(currentPage!=totalPages&&totalPages>1) { %>
      
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a
            class="page-link"
            href="?page=<%=currentPage-1%>"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
    
        <% for( let page = 1; page <=totalPages; page++ ) { %>
        <li class="page-item">
          <a
            class="page-link <%=currentPage==page?"active":""%>"
            href="?page=<%=page%>"
            ><%=page%>
          </a>
        </li>


    
        <% } %>

        <li class="page-item">
          <a
            class="page-link"
            href="?page=<%=currentPage+1%>"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
      
      
      <%}%>



</nav>



