
<%- include("partials/head",{title:"navigation"})  %> 

<body class="mx-3">
  <%- include ("partials/nav")%>
  <h1 class="mb-3">Main page</h1><hr>


  <div class="container">
    <a href="/seagulls">
      <img class="" src="/images/<%=randomSeagull%>.jpg" alt="" width="450"/>
    </a>
    <div>
      <strong><%=randomSeagull%></strong>
    </div>
   
  </div>
  

  <%- include ("partials/footer") %>
</body>
</html>
