<%- include ("../partials/head",{title:"Seagull delete"}) %> 

<body class="mx-3">
  <%- include ("../partials/nav") %>
  <h1 class="mb-3">Seagulls delete page</h1>
  <div class="container mt-3">
    <div class="row">
      <div class="cold-md-12 mt-3">
        <div class="alert alert-secondary">
          <p class="mb-3">
            Are you sure to delete seagull <b><%=seagull.seagullName %>?</b>
          </p>
          <form method="post" action="/admin/seagull/delete/<%=seagull.id%>">
              <input type="hidden" value="<%=csrfToken%>" name="_csrf">
              <button class="btn btn-danger" type="submit">Yes</button>
              <a class="btn btn-secondary" href="/admin/seagulls">No</a>
              
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include ("../partials/footer") %>
</body>
</html>
