<%- include ("../partials/head",{title:"Seagull Edit"}) %> 
  <body class="mx-3">
    <%- include ("../partials/nav") %>

    <h1 class="mb-3">Seagulls edit page</h1><hr>

    <div class="container mt-3">

      <% if (seagullName&&action) { %>
        <%- include("../partials/alert",{name: seagullName,action:action })%> 
      <% } %>

      <div class="row">
        <div class="col-md-10 mt-3">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> Name</th>
                <th style="width: 200px;">Expertise</th>
                <th style="width: 150px;">Image</th>
                <th style="width: 100px;">Is favorite?</th>
                <th style="width: 100px;">Is alive?</th>
                <th style="width: 140px;">Edit</th>

              </tr>
            </thead>
              <tbody>

                <% seagulls.forEach(seagull => { %>
                <tr>
                  <td><%=seagull.seagullName%></td>
                  <td>
                  <% expertises.forEach(ex => { %>
                    <%=seagull.expertiseId==ex.id?ex.expertiseName:''%>                
                  <% }) %>
                  </td>
                  <td> 
                    <a href="/seagull/<%= seagull.id %> ">
                    <%- include("../partials/image",{imageUrl:seagull.imageUrl,width:90})  %> 
                  </a>  
                  </td>

                  <td>
                    <% if (seagull.isFavorite) { %>
                      <%- include("../partials/lifeIcon")%>
                      <%} else { %>                      
                      <% } %>
                  </td>

                  
                  <td>
                    <% if (seagull.isAlive) { %>
                      <%- include("../partials/favoriteIcon")%>
                      <%} else { %>                      
                      <% } %>
                    </td>
                  
                  <td>
                    <button class="btn btn small btn-primary"> <a href="/admin/seagull/<%=seagull.id%> ">📝</a></button>
                    <button class="btn btn small btn-danger"> <a href="/admin/seagull/delete/<%=seagull.id%> ">🗑️</a></button>     
                </td>
                  
                <% }) %>
              </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr>
    <%- include ("adminCreateSeagull") %>

    <%- include ("../partials/footer") %>
  </body>
</html>
