<%- include ("../partials/head",{title:"Favorite Seagulls"}) %> 

  <body class="mx-3">
    <%- include ("../partials/nav") %>
    <h1 class="mb-3">Favorite Seagulls page</h1><hr>
  
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3">
          <%- include ("../expertiseViews/expertises",{expertises:expertises,isFavorite:null,expertiseId}) %>
        </div>

        <div class="col-md-9">

          <% if (totalSeagulls > 0) { %>
            <% seagulls.forEach(seagull => { %>
              <%- include("seagull",{seagull:seagull,expertises:expertises})  %> 
            <% }) %>
  
            <%} else { %>

              <div class="alert alert-warning">
                <p class="mb-3"><b>No Seagull</b></p>
              </div>
              

            <% } %>
     
          </div>
          <%- include ("../partials/pagination",{currentPage,totalPages,totalSeagulls,routingPage:"favorites"}) %> 
      </div>                
    </div>
    <%- include ("../partials/footer") %>

  </body>
</html>
