<%- include ("../partials/head",{title:"Seagull Detail"}) %> 
  <body class="mx-3">
    
    <%- include ("../partials/nav") %>

    <h1 class="mb-3">Seagull detail page</h1>


    <p><strong>Seagull Id: </strong><%=seagull.id %> <br /></p>

    <p><strong>Seagull Name: </strong><%= seagull.seagullName %></p>

    To return back click â¬
    <hr>
    <p>
    <a href="/seagulls">
      <%- include("../partials/image",{imageUrl:seagull.imageUrl,width:300})  %> 
    </a>
  </p>
    <%- include ("../partials/footer") %>

  </body>
</html>
