<div class="card mb-3">
  <div class="row">
    <div class="col-3 mb-3">
      <%- include("../partials/image",{imageUrl:seagull.imageUrl,width:200}) %>
    </div>

    <div class="col mb-9">
      <div class="card-body">
        <a style="text-decoration: none" href="/seagull/<%=seagull.id %>">
          <h3 class="card-title"><%= seagull.seagullName %></h3>
        </a>
        <p class="card-text">
          <% expertises.forEach(expertise => { %>
          <strong>
            <%= expertise.id==seagull.expertiseId?expertise.expertiseName:"" %>
          </strong>
          <% }) %>
        </p>

        <p class="card-text"><%= seagull.isAlive==1?"Alive":"Not alive" %></p>
      </div>
    </div>
  </div>
</div>
